librosa
soundfile
scikit-learn>=1.3.2
funasr>=1.3.28
transformers>=4.32.0,<5.0
huggingface_hub>=0.19.3,<1.0
moviepy==1.0.3
numpy==1.26.4
gradio>=4.31.3,<5.0
modelscope
torch>=1.13
torchaudio
openai
g4f
dashscope
curl_cffi
twelvelabs>=1.2.8
